{% extends "header.html" %}
{% block content %}
{% load static %}

        <!-- //navbar ends here -->
        <!-- banner -->

        <div class="crumbs text-center">
            <div class="container">
                <div class="row">
                    <ul class="btn-group btn-breadcrumb bc-list">
                        <li class="btn btn1">
                            <a href="/index/">
                                <i class="glyphicon glyphicon-home"></i>
                            </a>
                        </li>
                        <li class="btn btn2">
                            <a href="/login/">sign in & sign up</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--//breadcrumbs ends here-->
        <!-- signin and signup form -->
        <div class="login-form section text-center">
            <div class="container">
                <h4 class="rad-txt">
                    <span class="abtxt1">Sign in</span>
                    <span class="abtext">sign up</span>
                </h4>
                <div id="loginbox" style="margin-top:30px;" class="mainbox  loginbox">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">Customer Registration </div>
                            <div class="fpassword">
                             
                            </div>
                        </div>
                        <div style="padding-top:30px" class="panel-body">
                            <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
                            {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                              <div style="color: aqua;"> {{message }}</div>
                                {% endfor %}
                            </ul>
                            {% endif %}
        <form  action="/customer_action/"  method="post" id="myform">
            {% csrf_token %}
                     <div class="col-md-6 register-top-grid">
                    
                         <div>
                            <span> Name</span>
                            <input type="text" placeholder="Name" class="form-control" name="Name"  >
                         </div>
                         <div>
                            <span>Phone Number</span>
                            <input type="text" placeholder="phone number"  class="form-control"  name="phone"  >
                         </div>
                         <div>
                             <span>Email Address</span>
                             <input type="email" placeholder="E-mail"  class="form-control"  name="Email"  >
                         </div>
                         <div>
                            <span> Address</span>
                            <textarea name="Address" placeholder="Address"  class="form-control" ></textarea>
                        </div>
                         </div>
                         <div class="col-md-6 register-bottom-grid">
                              
                                <div>
                                    <span>Username</span>
                                    <input name="username" id="id_username" type="text" class="form-control">
                                    <span id="cb"></span>
                                 </div>
                                 <div>
                                    <span>Password</span>
                                    <input type="password" placeholder="Password" name="password" id="password1"   class="form-control" >
                                 </div>
                                 <div>
                                    <span>Confirm Password</span>
                                    <input type="password" placeholder="Confirm Password" name="cpassword" id="password2"   class="form-control" >
                                 </div>
                                
                                
                         </div>
                         <div class="col-md-12" > <div style="text-align: center;"><input  type="submit" class="btn btn-info" value="submit"></div></div>
                       </div>
                         <div class="clearfix"> </div>  
                    </form>
                    <script src="{% static 'assets/Validation/jquery-1.11.1.min.js' %}"></script>
        <script src="{% static 'assets/Validation/jquery_validate.js' %}"></script>
        <script src="{% static 'assets/Validation/additional_validate.js' %}"></script>
    <script>
    (function ($, W, D)
    {
    var JQUERY4U = {};
    JQUERY4U.UTIL =
    {
    setupFormValidation: function ()
    {
    $.validator.addMethod(
    "regex",
    function(value, element, regexp) {
    var check = false;
    return this.optional(element) || regexp.test(value);
    },
    "Not a valid Input."
    );
    
    
    
    //form validation rules
    $("#myform").validate({
    ignore: [],
    rules: {
        Name: {
                  required: true,
                  regex : /^[A-Za-z ]+$/,
                  minlength: 3,
    
                },
    
    
    
                phone: {
                    required: true,
                    digits:true,
                       minlength: 10,
                       maxlength: 10,
                       regex : /^(?:(?:\+|0{0,2})91(\s*[\-]\s*)?|[0]?)?[6789]\d{9}$/
                },
                Address: {
                  required: true,
                  minlength: 3,
    
                },
    
    
                Email: {
                 required: true,
                 regex :  /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/
    
                },
                username: {
                    required: true,
                    regex : /^[A-Za-z0-9@]+$/,
                    minlength: 5,
                    maxlength: 15,
    
                },
                password: {
                    required: true,
                     regex : /^[A-Za-z0-9@#*]+$/,
                     minlength: 5,
                    maxlength: 15,
    
                },
                cpassword: {
                    required: true,
                       regex : /^[A-Za-z0-9@#*]+$/,
                       minlength: 5,
                      maxlength: 15,
                  equalTo: "#password1"
    
                },
                uname: {
                    required: true,
    
    
                },
              },
              messages: {
    
                phone: "Please Enter Valid 10 digit Phone Number - Starting from 6, 7 or 8 or 9",
    
    username: "Please Enter Valid User Name(5-15 digit alphanumeric username",
    password: "Please Enter Valid Password Name(5-15 digit alphanumeric  password  and @#* also allowed",
       cpassword: "Please Enter Valid Password Name(5-15 digit alphanumeric confirm password and same as above password and @#* also allowed",
       uname:"User name is not available",
    },
    submitHandler: function (form) {
    form.submit();
    }
    });
    }
    }
    //when the dom has loaded setup form validation rules
    $(D).ready(function ($) {
    JQUERY4U.UTIL.setupFormValidation();
    });
    })(jQuery, window, document);
    </script>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
    </div>
    {% endblock %}