{% extends "Author/header.html" %}
{% block content %}
{% load static %}
<div class="pagetitle">
    <h1>EASY BOOK  AUTHOR</h1>
    <nav>

    </nav>
  </div>
    <section class="section" style="min-height: 500px;">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">WELCOME EASY BOOK AUTHOR</h5>

          <img src="{%static 'assets/images/banner.jpg' %}" style="width: 60%;">

            </div>
          </div>

        </div>

        <div class="col-lg-6">



        </div>
      </div>
    </section>

    {% endblock %}